
:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18a0fb;
    --primary-white-color: #ffffff;
}

body {
    font-family: Roboto;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
}
/* filters nav */

.filters-nav .link {
    color: var(--accent-color);
}

.filters-nav .link:hover,
.filters-nav .link:focus {
    color: var(--title-text-color);
}

.filters-nav .link.current {
    color: var(--title-text-color);
}
.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}